/* .editDropDown {
    padding-top: 4px;
    position: absolute;
    min-width: 192px;
    z-index: 1000;
}

.editDropDown__list {
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 0px 0px 1px var(--shadow-gray) inset;
    display: flex;
    flex-direction: column;
}

.editDropDown__list button {
    padding: 12px 0px 12px 12px;
    color: var(--black);
    line-height: 20px;
    text-align: left;
}

.editDropDown__list button:hover {
    background: var(--white-gray);
}

.editDropDown__list button:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.editDropDown__list button:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} */