.dropDownMenu {
    padding-top: 4px;
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    min-width: 192px;
    z-index: 1000;
}

.dropDownMenu__list {
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    line-height: 20px;
    text-align: left;
}

.dropDownMenu__list li {
    padding: 12px 0px 12px 12px;
}

.dropDownMenu__list li:hover {
    background: var(--white-gray);
}

.dropDownMenu__list li:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropDownMenu__list li:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}