.ModalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 360px;
    max-width: 496px;
    border-radius: 16px;
    z-index: 1000;
    background: var(--dark-gray);
    box-shadow: 0px 0px 26px 0px var(--light-black);
}

.ModalWindow__close {
    opacity: 0.25;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: right;
}

.ModalWindow__content {
    padding: 0px 48px 32px 48px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--overlay-black);
    z-index: 10;
}