@font-face {
    font-family: "ALS Hauss VF Regular";
    src: url("./fonts/ALSHauss-Regular.woff") format("woff");
}

:root {
    --white: #FFFFFF;
    --white-gray: #F0F0F3;
    --shadow-gray: #E3E4EA;
    --black: #000000;
    --light-black: #00000030;
    --dark-gray: #2D2C32;
    --gray: #FFFFFF14;
    --light-gray: #FFFFFF3D;
    --light2-gray:#767386;
    --green: #14532B;
    --light-green: #85EF89;
    --orange: #7C3D12;
    --light-orange: #FDB172;
    --blue: #4649E5;
    --overlay-black: #000000b2;

    font-family: 'ALS Hauss VF Regular';
}

body {
    cursor: url('./cursor.svg'), auto;
    background: var(--dark-gray);
}

.app {
    max-width: 1366px;
    margin: 0 auto;
    color: var(--white);
    display: flex;
}

.container {
    padding: 24px; 
    width: 100%;
}

.dropDown {
    padding-top: 4px;
    position: absolute;
    min-width: 192px;
    z-index: 1000;
}

.dropDown__list {
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 0px 0px 1px var(--shadow-gray) inset;
    display: flex;
    flex-direction: column;
}

.dropDown__list button {
    padding: 12px 0px 12px 12px;
    color: var(--black);
    line-height: 20px;
    text-align: left;
}

.dropDown__list button:hover {
    background: var(--white-gray);
}

.dropDown__list button:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropDown__list button:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}