.settings {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px;
}

.settings__title {
    font-weight: 680;
    font-size: 32px;
    line-height: 40px;
}

.settings__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.settings__actions__add {
    display: flex;
    gap: 10px;
    padding: 8px;
    line-height: 20px;
    border-radius: 10px;
}

.settings__actions__add:hover {
    background: var(--gray);
}

.settings__actions__add_pressed {
    background: var(--gray);
}